@model weblog.Models.Kısıler

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Kısıler</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.KullanıcıID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KullanıcıID)
            @Html.ValidationMessageFor(model => model.KullanıcıID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ad)
            @Html.ValidationMessageFor(model => model.Ad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Soyad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Soyad)
            @Html.ValidationMessageFor(model => model.Soyad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefon)
            @Html.ValidationMessageFor(model => model.Telefon)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

